name: CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build Microservices
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Build Docker images
        run: docker compose build

  deploy:
    name: Deploy to Docker Hub
    runs-on: ubuntu-latest
    needs: build   # chá»‰ deploy khi build ok

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERUSERNAME }}
          password: ${{ secrets.DOCKERTOKEN }}

      - name: Build images for deployment
        run: docker compose build

      - name: Push images to Docker Hub
        run: docker compose push
